@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500,700');

$color-background: #1b232b;

* {
  margin: 0;
  padding: 0;
  font-size: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: {
    color: $color-background;
    position: center top;
    repeat: no-repeat;
  }
}

h2 {
  font-size: 32px;
  color: rgb(255, 255, 255);
  line-height: 1.875;
  font-weight: 500;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}



.wrapper {
  max-width: 984px;
  margin: auto;
  overflow: hidden;
  background: {
    color: $color-background;
    image: url("./img/background_pattern.png");
    position: center top;
    repeat: no-repeat;
  }
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 70px 0 52px;
  background-color: rgba(253, 253, 253, 0.02);
  border: rgba(148, 232, 254, 0.1) solid 1px;
  border-radius: 10px;

  .headline {
    width: 66.6666%;
    display: flex;
    justify-content: center;
    padding: 18px 0;
  }

  .options {
    width: 33.3333%;
    display: flex;
    align-items: center;

    .list {
      position: relative;
      width: 90%;
      margin-left: 2.5%;
      background-color: transparent;
      border: 1px solid rgb(146, 232, 254);
      border-radius: 5px;
      padding: 10px 0;
    }

    .list::after {
      position: absolute;
      top: 21px;
      right: 12px;
      width: 5px;
      height: 5px;
      transform: rotate(45deg);
      border-bottom: 1px solid rgb(146, 232, 254);
      border-right: 1px solid rgb(146, 232, 254);
      content: '';
    }

    .list__value{
      font-size: 16px;
      color: rgb(255, 255, 255);
      font-weight: 100;
      padding: 3px 16px;
    }

    .list__items {
      display: none;
      position: absolute;
      top: 120%;
      width: 100%;
      background-color: $color-background;
      border: 1px solid rgb(146, 232, 254);
      border-radius: 5px;
      padding: 10px 0;
    }
  }
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .etherium {
    background-color: #155d2e;
  }

  .litecoin {
    background-color: #333333;
  }

  .bitcoin {
    background-color: #301103;
  }

  section {
    display: flex;
    width: 31.3%;
    height: 350px;
    background: radial-gradient(circle farthest-side at 60% 30%, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0) 100%);
  }

  .linear-grad {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: linear-gradient(340deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 65%, rgba(255, 255, 255, 0.2) 65%, rgba(255, 255, 255, 0));
  }

  .section__name {
    height: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
  }

  .section__img {
    height: 36%;
    background-image: url("./img/ethereum.png");
    background-position: 30px 53%;
  }

  .section__data{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 8px 30px 0 35px;
  }

  .section__data__price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}