$color-header-background: rgba(253, 253, 253, 0.02);
$color-header-border: rgba(148, 232, 254, 0.1);

header {
  display: flex;
  width: 100%;
  background-color: $color-header-background;
  border: $color-header-border solid 1px;
  border-radius: 10px;
  margin: 70px auto 0;
}

.header__headline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66.6666%;
  padding: 22px 0;
}

.header__options {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.3333%;
  padding: 22px 0;
}

@media (max-width: 972px) {
  header {
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
    margin: 20px 0 0;
  }

  .header__headline {
    width: 100%;
  }

  .header__options {
    width: 100%;
  }
}
