$color-background-back-layer-on: #3eb3ef;
$color-background-back-layer-off: #c4c4c4;
$color-background-front-layer: #c9c9c9;
$color-border-front-layer: #fff;
$color-box-shadow: #000;

.toggle-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.toggle-button__back-layer {
  width: 35px;
  height: 15px;
  border-radius: 10px;
  background-color: $color-background-back-layer-on;
  box-shadow: inset -2px 4px 15px -5px $color-box-shadow;
}

.toggle-button__back-layer_off {
  background-color: $color-background-back-layer-off;
}

.toggle-button__front-layer {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: rgb(223, 223, 223);
  background-image: conic-gradient(
    rgb(232, 232, 232) 0%,
    rgb(177, 177, 177) 6%,
    rgb(121, 121, 121) 13%,
    rgb(224, 224, 224) 24%,
    rgb(145, 145, 145) 33%,
    rgb(217, 217, 217) 44%,
    rgb(118, 118, 118) 55%,
    rgb(244, 244, 244) 64%,
    rgb(165, 165, 165) 73%,
    rgb(223, 223, 223) 82%,
    rgb(255, 255, 255) 91%,
    rgb(133, 133, 133) 100%
  );
  border: 2px solid $color-border-front-layer;
  border-radius: 50%;
  transform-origin: 0 0 10px;
}

.toggle-button__front-layer_off {
  right: 0;
  left: unset;
}
