@import "header";
@import "list";
@import "section";
@import "toggle";
@import "fonts";

$color-background: #1b232b;
$color-text: #fff;
$image-background: "../img/background_pattern.png";

* {
  margin: 0;
  padding: 0;
  font-size: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: $color-text;
}

body {
  background: {
    color: $color-background;
    position: center top;
    repeat: no-repeat;
  }
}

h1 {
  font-size: 60px;
  position: absolute;
  visibility: hidden;
}

h2 {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 984px;
  background: {
    color: $color-background;
    image: url($image-background);
    position: center top;
    repeat: no-repeat;
  }
  margin: auto;
  overflow: hidden;
}

main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

@media (max-width: 676px) {
  main {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
  }
}

@media (min-width: 677px) and (max-width: 972px) {
  main {
    justify-content: space-around;
    max-width: 95%;
    margin-bottom: 50px;
  }
}
